footer {
  background-color: var(--basic-color);
  border-top: 1px solid var(--border-color);
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 2vh 5vh;
  font-family: var(--exa);
  font-size: var(--main-text);
}

.footer-inner-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--main-text);
  gap: 0.5vh;
}

.footer-link:hover {
  color: var(--accent-color);
}

.footer-link.active {
  border-bottom: 1px solid var(--dark-accent-color);
  padding: 0 0.3vw;
}

.footer-link.active:hover {
  color: black;
  cursor: default;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icons .link {
  height: 20px;
}

.footer-icon {
  font-size: 20px;
}

.footer-logo {
  font-family: var(--tera);
  font-size: var(--main-text);
  letter-spacing: 4px;
}

.footer-logo .link:hover {
  color: inherit;
}

@media screen and (max-width: 590px) {
  .footer-container {
    padding: 1vh 5vh;
  }

  .footer-logo {
    font-size: calc(var(--main-text) * 0.9);
    max-width: 30vw;
  }

  .footer-inner-links {
    font-size: calc(var(--main-text) * 0.9);
  }
}

@media screen and (max-width: 400px) {
  .footer-logo {
    font-size: calc(var(--main-text) * 0.6);
  }

  .footer-inner-links {
    font-size: calc(var(--main-text) * 0.7);
  }
}
