.product__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-list-title {
  font-family: var(--exa);
  font-size: var(--main-text);
  font-weight: 700;
}

.product-list-container {
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  width: 100%;
  margin-top: 40px;
}

.product__link {
  width: 48%;
}
