.developer-card {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--basic-color);
  padding: 1rem;
  border-radius: .3rem;
  box-shadow: var(--back-plate);
  font-family: var(--exa);
}

.developer-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.developer-card__image img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.developer-card__info {
  font-size: var(--main-text);
  margin-top: .5rem;
}

.developer-card__name {
  font-size: var(--sub-title);
  margin-bottom: .4rem;
}

.developer-card__role {
  height: 2.5rem;
  margin-bottom: 1vh;
}

.developer-card__bio {
  min-height: 3.5rem;
}

.developer-card__social-icons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto 0;
}

.developer-card__social-icons_telegram,
.developer-card__social-icons_github,
.developer-card__social-icons_mail {
  width: 1.2rem;
  height: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.developer-card__social-icons_telegram:hover,
.developer-card__social-icons_github:hover,
.developer-card__social-icons_mail:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

@media screen and (max-width: 900px) {
  .developer-card {
    width: 80%;
    margin-bottom: 2rem;
  }
}
