.developer-card {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--basic-color);
  padding: 2vh;
  border-radius: 10px;
  box-shadow: var(--back-plate);
  font-family: var(--exa);
}

.developer-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.developer-card__image img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1.5vh;
  object-fit: cover;
}

.developer-card__info {
  font-size: var(--main-text);
  margin-top: 0.5vh;
}

.developer-card__name {
  font-size: var(--sub-title);
  margin-bottom: 1vh;
}

.developer-card__role {
  margin-bottom: 1vh;
}

.developer-card__social-icons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vh auto 0;
}

.developer-card__social-icons.telegram,
.developer-card__social-icons.github,
.developer-card__social-icons.mail {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.developer-card__social-icons.telegram:hover,
.developer-card__social-icons.github:hover,
.developer-card__social-icons.mail:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

@media screen and (max-width: 900px) {
  .developer-card {
    width: 80%;
    margin-bottom: 5vh;
  }
}
