.developer-card {
  width: 30%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--basic-color);
  padding: 2vh;
  border-radius: 10px;
  box-shadow: var(--back-plate);
  font-family: var(--exa);
}

.developer-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.developer-image img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1.5vh;
  object-fit: cover;
}

.developer-info h2 {
  font-size: var(--sub-title);
}

.developer-info p {
  font-size: var(--main-text);
  margin-top: 0.5vh;
}

.social-icons {
  margin-top: 2vh;
}

.social-icons a {
  margin-right: 2vw;
  text-decoration: none;
}

.icon-telegram,
.icon-git,
.icon-mail {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.icon-telegram:hover,
.icon-git:hover,
.icon-mail:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

@media screen and (max-width: 900px) {
  .developer-card {
    width: 80%;
    margin-bottom: 5vh;
  }
}
