.arrow-up-icon,
.arrow-down-icon {
  size: 20px;
}

.sort-by {
  display: flex;
  align-items: center;
}

.sort-by:hover {
  cursor: pointer;
  color: var(--dark-accent-color);
}

.sort-by.active {
  border-bottom: 1px solid var(--dark-accent-color);
}
