.arrow-up-icon,
.arrow-down-icon {
  size: 20px;
}

.sort-by {
  display: flex;
  align-items: center;
}

.sort-by:hover {
  cursor: pointer;
  color: var(--dark-accent-color);
}

.sort-by.active {
  border-bottom: 1px solid var(--dark-accent-color);
}

.sort-by-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  margin-top: 5vh;
  margin-right: auto;
}

.sort-by-select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  cursor: pointer;
  background-color: var(--bg-color);
  font-family: var(--exa);
}

.sort-by-select:focus {
  outline: none;
}
