.contacts-poster-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/contacts-poster-min.png");
  background-position: center;
  background-size: cover;
}
