.product_page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  margin: auto;
  max-width: 1200px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}

.product_info-text {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.product_title {
  font-family: var(--tera);
  font-size: var(--product-title);
  font-weight: 700;
}

.product_description {
  font-family: var(--exa);
  font-size: var(--title);
  letter-spacing: 4px;
  line-height: 150%;
}
