@import "../../utils/constants.css";

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 120px;
  max-width: 250px;
  padding: 5px 15px;

  font-size: var(--main-text);
  background-color: var(--basic-color);
  border: 1px solid var(--border-color);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  background-color: var(--accent-color);
}

.button:active {
  transform: scale(0.95);
}
