.cart {
  padding: 5vh;
  font-family: var(--exa);
  transition: all 0.3s;
}

.cart__title {
  margin-bottom: 2vh;
  font-family: var(--tera);
  font-size: var(--title);
  border-bottom: 2px solid var(--accent-color);
  width: fit-content;
}

.cart__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 2vh;
}

.cart__content__products-container__empty {
  margin-top: 10vh;
  font-size: var(--title);
}

.cart__content__products-container {
  display: flex;
  flex-direction: column;
  max-height: 45vh;
  min-height: 40vh;
  overflow: scroll;
}

.cart__content__products-container__product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-color);
  padding: 1vh;
}

.cart__content__products-container__product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(154, 194, 253, 0.486);
  cursor: pointer;
}

.cart__content__products-container__product__name {
  width: 40%;
  text-align: left;
}

.cart__content__products-container__product__price {
  text-align: right;
}

.cart__content__products-container__product__count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart__content__products-container__product__count__minus,
.cart__content__products-container__product__count__plus {
  cursor: pointer;
  margin: 0 2vw;
}

.cart__content__products-container__product__count__minus:hover,
.cart__content__products-container__product__count__plus:hover {
  color: var(--dark-extra-color);
}

.cart__content__products-container__product__delete {
  cursor: pointer;
  margin-right: 2vw;
}

.cart__content__products-container__product__delete:hover {
  color: var(--dark-extra-color);
}

.cart__content__order-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
}

.cart__content__order-container__total {
  margin-left: auto;
  margin-bottom: 2vh;
}

.cart__content__products-container__product__image img {
  width: 100px;
}

.cart__content__order-container__discount {
  margin-left: auto;
}

.cart__content__order-container__discount input {
  font-family: var(--exa);
  font-size: var(--main-text);
  letter-spacing: 2px;
  outline: none;
  border: 1px solid var(--bg-color);
  margin: 2vh 0 2vh 2vw;
  padding: 0.5vh;
}

.cart__content__order-container__discount__button {
  font-family: var(--exa);
  font-size: var(--main-text);
  width: 6vh;
  height: 3vh;
  margin-left: 1vw;
  padding: 0.3vh;
  background-color: transparent;
  border: 1px solid var(--bg-color);
  cursor: pointer;
  transition: all 0.3s;
}

.cart__content__order-container__discount__button:hover {
  background-color: var(--accent-color);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.cart__content__products-container__product__price__total__old_new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart__content__products-container__product__price__total__old_new span {
  display: inline-block;
  margin-right: 5px;
}

.cart__content__products-container__product__price__total__old {
  opacity: 0.5;
  text-decoration: line-through;
}

.cart__content__products-container__product__price__total {
  width: 10%;
}
