* {
  box-sizing: border-box;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

p {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  font-family: var(--exa);
}

h1 {
  font-size: 1.5rem;
  color: black;
}

.App {
  text-align: center;
  font-family: Lexend Exa;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
