.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  width: 100%;
  color: var(--border-color);
}

.filter-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;

  border: 1px solid var(--border-color);
  border-radius: .3rem;
  overflow: hidden;
}

.filter-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .2rem;
  background-color: var(--basic-color);
}

.filter-search input {
  width: 100%;
  margin-left: .8rem;
  font-family: var(--exa);
  font-size: var(--main-text);
  letter-spacing: .1rem;
  border: none;
  outline: none;
}

.search-btn {
  height: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-icon,
.search-icon {
  color: var(--border-color);
  font-size: 1.8rem;
  opacity: 0.5;
  cursor: pointer;
}

.search-icon {
  font-size: 1.8rem;
}

.search-icon:hover,
.close-icon:hover {
  color: var(--accent-color);
  opacity: 1;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 700px) {
  .filter-search-container {
    width: 100%;
  }
}
